[run]
branch = False
omit =
    */tests/*
    */test_*
    */__init__.py
    */benchmarks/*

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @overload
precision = 1
show_missing = False
