gpu-info
py-cpuinfo
numpy
catboost
notebook
antropy
astropy
entropy-estimators
ipython-autotime
joblib
lightgbm
lightning
line-profiler
numba
pandas
polars
dill
plotly
psutil
scikit-learn
scipy
shap
xgboost
portalocker
pymongo
psycopg2-binary
sqlalchemy
properscoring
pyarrow
pympler
mlflow
pywavelets
category_encoders
imbalanced-learn
tensorflow
optbinning
zstandard
beautifulsoup4
expiringdict
cupy-cuda12x
duckdb
umap-learn
hdbscan
seaborn
